.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	padding: 2px;
	margin-bottom: 0;

	// Loops to enumerate the classes for gallery columns.
	@for $i from 2 through 9 {
		.gallery-columns-#{$i} & {
			max-width: map-get( $columns, $i );
		}
	}
}

.gallery-caption {
	display: none;
}

.gallery-item img {
	width: 100%;
	margin: 0 auto;
	/*border: 2px solid #e3e3e3;
	padding: 7px;
	background: #fff;*/
	@extend .img-thumbnail;
}
