.site-footer {
	border-top: 1px solid rgba(0, 0, 0, 0.125);

	.footer-widgets {
		
		.widget-area {
			margin: 25px 0;
		}
	
	}
	
	
	.site-info {
		margin: 20px 0; 
	}
	
	.footer-social {
		
		a {
			float: right;
			font-size: 32px;
			margin-left: 10px;
		}
	}
	
	.strapcore-footer-menu {
		padding: 25px 0;
		
		ul {
		
			padding-left: 0;
			margin-bottom: 0;
		
			li {
				display: inline;
				list-style-type: none;
				
				a {
					border-left: 1px solid #ddd;
					padding: 0 8px;
				}
				
				&:first-child > a {
					border-left:none;
					padding: 0 8px 0 0;
				}
				
			}
		
		}
		
	}

}