.site-footer {
	background: $color__background-screen;
	color: $color__text-main;

	.site-info {
		margin: 20px 0; 
		
		a {
			color: $color__text-main;
			
			:hover {
				color: $color__text-main;
			}
		}
	}
	
	.strapcore-footer-menu {
		padding: 25px 0;
		
		ul {
		
			padding-left: 0;
			margin-bottom: 0;
		
			li {
				display: inline;
				list-style-type: none;
				
				a {
					border-left: 1px solid #ddd;
					padding: 0 8px;
					color: $color__text-main;
					
					&:hover {
						color: $color__text-main;
					}
				}
				
				&:first-child > a {
					border-left:none;
					padding: 0 8px 0 0;
				}
				
			}
		
		}
		
	}

}