.site-footer {
	border-top: 1px solid rgba(0, 0, 0, 0.125);

	.footer-widgets {
		
		.widget-area {
			margin: 25px 0;
		}
	
	}
	
	
	.site-info {
		margin: 20px 0; 
	}
	
	.footer-social {
	
		.social-links {
			float: right;
			
			a {		
				font-size: 32px;
				margin-left: 10px;
			}
		}
		
	}
	
	.strapcore-pro-footer-menu {
		padding: 25px 0;
		
		ul {
		
			padding-left: 0;
			margin-bottom: 0;
		
			li {
				display: inline;
				list-style-type: none;
				
				a {
					border-left: 1px solid #ddd;
					padding: 0 8px;
				}
				
				&:first-child > a {
					border-left:none;
					padding: 0 8px 0 0;
				}	
			}
		}	
	}
}

a.back-to-top {
	display: none;
	/*visibility: hidden;*/
	width: 60px;
	height: 60px;
	/*text-indent: -9999px;*/
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	font-size: 32px;
	text-align: center;
	color: #fff;
	background-color: #999
	/*-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;*/
}
a:hover.back-to-top {
	background-color: #666;
}