.sticky {
	display: block;
}

.hentry {
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.site-content {
	@include make-row();
	word-break: break-word; 
	padding: 20px 0;
	
	.breadcrumbs {
		@include make-col-ready();
		@include make-col(12);	
		
		a {
			color: $color__text-main !important;
			
			&:hover {
				color: $color__text-main !important;
			}
		}
		
		svg {
			margin-top: -3px;
		}
	}

	.content-area {
		@include make-col-ready();
		@include make-col(9);	
	}
	
	.full-content-area {
		@include make-col-ready();
		@include make-col(12);
	}

	.widget-area {
		@include make-col-ready();
		@include make-col(3);	
	}
	
	.strapcore-blog {
		margin-bottom: 25px;
	}
	
	.post-thumbnail img {
		/*margin-top: 10px;*/
	}
}

.entry-meta,
.entry-footer {
	font-size: 16px;
	
	span {
		margin-right: 15px;
		display: inline-block;
 
		&:last-child {
			margin-right: 0;
		}
		
		a {
			color: $color__text-main !important;
			
			&:hover {
				color: $color__text-main !important;
			}
		}
	}
	
	svg {
		margin-top: -3px;
		margin-right: 5px;
	}
	
}

.author-meta {
	margin: 40px 0;
	
	.avatar {
		/*border-radius: 50%;*/
		margin-right: 20px;
	}
	
	svg {
		font-size: 32px;
		color: $color__text-main;
		
		&:hover {
			color: $color__text-main;
		}
	}
}

.search-highlight {
    background:#FFFF00  
}